<script type="text/javascript" src="<%=contextPath%>/js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="<%=contextPath%>/js/lib/jquery.nicescroll.min.js"></script>
<script>
    $(document).ready(function () {
        $('#eulaDiv').niceScroll({
            horizrailenabled: false
        });
    });
</script>
<div id="eulaDiv" style="height:340px;overflow:hidden;font-size:12px;font-family:'Times New Roman';">
    <p><strong><u>END USER LICENSE AGREEMENT</u></strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>PLEASE READ CAREFULLY:&nbsp; THIS END USER LICENSE AGREEMENT (&ldquo;<u>AGREEMENT</u>&rdquo;) IS A LEGAL AND BINDING AGREEMENT BETWEEN YOU AND/OR YOUR ORGANIZATION (&ldquo;<u>YOU</u>&rdquo;), AND GENBAND US LLC (&ldquo;<u>GENBAND</u>&rdquo; OR &ldquo;<u>WE</u>&rdquo;).&nbsp; USE OF GENBAND&rsquo;S PRODUCTS, INCLUDING, WITHOUT LIMITATION, THIS SOFTWARE AND ASSOCIATED DOCUMENTATION, IS SUBJECT TO THE TERMS AND CONDITIONS OF THIS AGREEMENT.</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>YOU ACKNOWLEDGE THAT: (1) THE SOFTWARE IS NOT INTENDED, DESIGNED OR FIT FOR PLACING, CARRYING OR SUPPORTING ANY CALL TO ANY EMERGENCY SERVICE OR ANY CALL FOR THE PURPOSE OF OBTAINING ASSISTANCE, HELP OR AID IN THE EVENT OF AN EMERGENCY (&ldquo;EMERGENCY CALL&rdquo;), (2) YOU SHOULD ALWAYS USE YOUR FIXED WIRELINE TELEPHONE OR YOUR MOBILE WIRELESS DEVICE TO MAKE AN EMERGENCY CALL, (3) YOU ARE RESPONSIBLE FOR ENSURING ALL POTENTIAL USERS OF THE SOFTWARE ARE AWARE OF THESE LIMITATIONS, AND (4) NEITHER GENBAND NOR ANY OF ITS AFFILIATES, SUBSIDIARIES, PARENT COMPANIES, AGENTS, PARTNERS, EMPLOYEES OR LICENSORS ARE OR WILL BE LIABLE TO YOU OR ANY THIRD PARTY IN ANY RESPECT FOR ANY COSTS OR DAMAGES ARISING EITHER DIRECTLY OR INDIRECTLY FROM OR THEIR YOUR RELIANCE ON THE SOFTWARE FOR EMERGENCY CALLS.</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>ALL QUESTIONS CONCERNING THIS AGREEMENT SHOULD BE DIRECTED TO GENBAND US LLC,</strong> <strong>3605 E. Plano Pkwy.</strong></p>
    <p><strong>Plano, TX 75074, United States; </strong><strong>PHONE NUMBER: +1 972 521 5800.</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>LICENSE:&nbsp; </strong>GENBAND grants you a limited, non-exclusive, non-sublicenseable and non-transferable license (&ldquo;<u>License</u>&rdquo;) to run the object code version of the software (&ldquo;Software&rdquo;) on any authorized devices (together with the Software, the &ldquo;<u>Product</u>&rdquo;) for which an entitlement was granted to you separately subject to the terms and restrictions set forth in this Agreement and any non-conflicting supplemental terms provided to you by your service provider.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>OPEN SOURCE LICENSES</strong><strong>: </strong>&nbsp;Certain portions of the Software may contain source code subject to the terms of public, free and open source licenses (the &ldquo;<u>Open Source Software</u>&rdquo;), including, but not limited to, the GNU General Public License and the GNU Lesser General Public License (collectively, the &ldquo;<u>Open Source Licenses</u>&rdquo;).&nbsp; The Open Source Licenses are included in the documentation for the Software.&nbsp; To the extent that the terms of this Agreement differ from the Open Source Licenses, these terms are offered by GENBAND alone and not by any other party.&nbsp;&nbsp; Unless expressly addressed in this Agreement, these terms do not replace or alter your rights or obligations under the Open Source Licenses with respect to the Open Source Software.&nbsp;&nbsp; Upon request, GENBAND will make available to you the source code for the Open Source Software.&nbsp; The GNU General Public License and the GNU Lesser General Public License can be viewed at <a href="http://www.gnu.org/licenses/gpl.html">http://www.gnu.org/licenses/gpl.html</a> and <a href="http://www.gnu.org/licenses/lgpl.html">http://www.gnu.org/licenses/lgpl.html</a>, respectively.</p>
<p>&nbsp;</p>
<p><strong>RESTRICTIONS:</strong>&nbsp; You shall not, and shall not permit any third party to:&nbsp; (a) except as expressly set forth in this Agreement, use, copy, modify, create derivative works of, distribute, sell, assign, pledge, sublicense, lease, loan, rent, deliver or otherwise transfer the Software; (b) copy the Software onto any public or distributed network except to the extent required by the Open Source Licenses; (c) use the Software as a standalone application or with applications other than the Product; (d) remove from the Product, or alter, any of the GENBAND trademarks, trade names, logos, patent or copyright notices or markings, or add any other notices or markings to the Product; (e) decrypt, attempt to decrypt, or engage a third party to decrypt the Software; (f) derive or attempt to derive the source code of or decompile the Software; (g) disassemble or reverse engineer the Product by any means; or (h) disclose or publish performance benchmark results for the Software.&nbsp; However, where you have other rights under statute that make any portion of the foregoing contractual prohibition void, you agree to provide GENBAND with reasonably detailed information regarding any intended disassembly or decompilation.&nbsp; Except to the extent required by the Open Source Licenses, the Software and supporting documentation may be copied only as essential for backup or archive purposes in support of your use of the Software as permitted hereunder.&nbsp; You must reproduce and include all copyright notices and any other proprietary rights notices appearing on the Software on any copies that you make.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>SOFTWARE MODIFICATIONS:&nbsp; </strong>GENBAND reserves the right to modify the Software in any manner whatsoever, at any time, without providing notice to you. GENBAND's right to modify the Software applies to all aspects of the Software.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>OWNERSHIP:</strong>&nbsp; You acknowledge and agree that the Software contains both the Open Source Software (including freeware and shareware) and other software that is proprietary to GENBAND and/or its licensors, and that this license conveys no ownership rights to you and is not a sale of any rights in the Software, the associated documentation, or the media on which either is recorded or printed.&nbsp; Except for the Open Source Software, freeware and shareware included or embedded in the Software, ownership of all right, title, and interest in or to (i) the Software and any copies, updates or upgrades thereof; (ii) the documentation and any copies thereof; (iii) any ideas, suggestions, or feedback relating to the Product; and (iv) all intellectual property rights embodied within the foregoing (i)-(iii) are and shall remain the exclusive property of GENBAND and/or its licensors. You will not take any action that jeopardizes or alienates such proprietary rights.&nbsp; GENBAND&rsquo;s licensors are hereby deemed to be third party beneficiaries of this Agreement with the right to enforce the obligations and benefits of the protections with respect to You as set forth herein.</p>
<p>&nbsp;</p>
<p><strong>CONFIDENTIALITY:</strong>&nbsp; The Software contains proprietary and confidential information as well as trade secrets owned by GENBAND and/or its licensors.&nbsp; You agree to hold such information in strict confidence and not to use or disclose it in any way except as expressly permitted hereunder.&nbsp; You agree to protect such information at least to the same extent that you protect your similar confidential information, but in no event less than reasonable care.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>EXPORT RESTRICTIONS:</strong>&nbsp; The export and re-export of Software and other materials are controlled by the export laws and regulations of Canada and the United States, as they may be amended from time to time. Accordingly, you certify that you are aware of and will comply with all applicable export rules and regulations, including the responsibility to obtain a license for the export or re-export of the Software and other materials to any destination requiring such a license. In addition, the Software may not be exported or re-exported to certain countries, including Cuba, Iran, North Korea, Sudan, Syria, or any other country to which Canada or the United States prohibits the export of goods, technology, or services or to nationals of those countries, wherever located. Moreover, the Software may not be distributed to persons on the Table of Denial Orders, the Entity List, or the List of Specially Designated Nationals maintained by the U.S. government. By downloading the Software, you are certifying that you are not a national of one of the above-listed countries or of any other country to which Canada or the United States embargoes goods, services, or technology and that you are not a person on the Table of Denial Orders, the Entity List, or the List of Specially Designated Nationals.&nbsp; You acknowledge that the Product contains encryption technology that may require special attention with respect to export laws and regulations.&nbsp; You will hold harmless and defend, at GENBAND&rsquo;s option, GENBAND from any third party claim against GENBAND arising from your failure to comply with this paragraph.</p>
<p>&nbsp;</p>
<p><strong>UNITED STATES GOVERNMENT LEGEND:</strong>&nbsp; The Software is commercial in nature and developed solely at private expense.&nbsp; The Software is delivered as &ldquo;Commercial Computer Software&rdquo; as defined in DFARS&nbsp; 252.227-7014 (June 1995) or as a commercial item as defined in FAR 2.101(a) and as provided with only such rights as are provided in this Agreement, which is GENBAND&rsquo;s standard commercial license for the Software.&nbsp; Technical data is provided with limited rights only as provided in DFAR 252.227-7015 (Nov. 1995) or FAR 52.227-14 (June 1987), whichever is applicable.</p>
<p>&nbsp;</p>
<p><strong>TERM AND TERMINATION:&nbsp; </strong>This Agreement is effective until terminated by GENBAND or in accordance with instructions from your service provider.&nbsp; However, you may terminate it at any time by ceasing to use the Software and associated documentation and by destroying the Software and documentation together with all copies and merged portions in any form.&nbsp; It will also terminate immediately if you fail to comply with any term or condition of this Agreement.&nbsp; Upon such termination you agree to cease all use of the Software and associated documentation and also to destroy the Software and documentation, together with all copies and merged portions in any form.&nbsp; If this Agreement is terminated, all terms and conditions herein shall terminate immediately except those contained in the paragraphs entitled Restrictions, Ownership, Confidentiality, Term and Termination, Governing Law, Limitation of Liability and General which shall survive any termination of this Agreement.</p>
<p>&nbsp;</p>
<p><strong>GOVERNING LAW:&nbsp; </strong>This Agreement shall be governed by the laws of the State of New York and by the laws of the United States, excluding their conflicts of laws principles.&nbsp; The United Nations Convention on Contracts for the International Sale of Goods (1980) is hereby excluded in its entirety from application to this Agreement.</p>
<p>&nbsp;</p>
<p><strong>WARRANTY:</strong></p>
<p><strong>ALL SOFTWARE, INCLUDING OPEN SOURCE SOFTWARE, IS PROVIDED &ldquo;AS IS&rdquo; WITHOUT ANY WARRANTY WHATSOEVER.&nbsp; EXCEPT AS SPECIFIED IN THIS AGREEMENT, ALL EXPRESS OR IMPLIED CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTIBILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT, ARE HEREBY EXCLUDED.</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>INDEMNIFICATION</strong>: You agree to indemnify and hold GENBAND, its affiliates, subsidiaries, parent companies, agents, partners, officers, directors, employees, shareholders, licensors, suppliers, and any third party distributors harmless from and against any and all damages, losses, costs including attorney fees and expenses resulting from any violation by you of this Agreement or asserted by any third party due to or arising out of your use of or conduct with respect to the Software.</p>
<p>&nbsp;</p>
<p><strong>LIMITATION OF LIABILITY:&nbsp; IN NO EVENT WILL GENBAND AND/OR ITS LICENSORS BE LIABLE FOR ANY DIRECT, INDIRECT, EXEMPLARY, SPECIAL, CONSEQUENTIAL, INCIDENTAL OR PUNITIVE DAMAGES OF ANY KIND, INCLUDING, WITHOUT LIMITATION, LOST PROFITS OR COSTS OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, HOWEVER CAUSED AND REGARDLESS OF THEORY OF LIABILTIY ARISING OUT OF THE USE OF OR INABILITY TO USE THE SOFTWARE, EVEN IF GENBAND HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMANGES.&nbsp; &nbsp;In no event shall GENBAND&rsquo;S aggregate liability hereunder, whether in contract, tort (including negligence), or otherwise, exceed the feeS ACTUALLY paid or payable for the software licensed hereunder.&nbsp; THE WARRANTY AND LIMITATION OF LIABILITY CONTAINED IN THIS AGREEMENT ARE FUNDAMENTAL PARTS OF THE BASIS OF GENBAND&rsquo;S BARGAIN HEREUNDER, AND YOU ACKNOWLEDGE THAT WE WOULD NOT BE ABLE TO PROVIDE THE PRODUCT TO YOU ABSENT SUCH LIMITATIONS.&nbsp; iN THOSE STATES AND JURISDICTIONS THAT DO NOT ALLOW CERTAIN LIMITATIONS OF LIABILITY, GENBAND&rsquo;S LIABILITY SHALL BE LIMITED TO THE GREATEST EXTENT PERMITTED UNDER APPLICABLE LAW.</strong></p>
<p>&nbsp;</p>
<p><strong>EMERGENCY CALLS:&nbsp; WITHOUT LIMITING THE FOREGOING, YOU ACKNOWLEDGE THAT THE SOFTWARE IS NOT INTENDED, DESIGNED OR FIT FOR PLACING, CARRYING OR SUPPORTING ANY CALL TO ANY EMERGENCY SERVICE OR ANY CALL FOR THE PURPOSE OF OBTAINING ASSISTANCE, HELP OR AID IN THE EVENT OF AN EMERGENCY. NEITHER GENBAND NOR ANY OF ITS AFFILIATES, SUBSIDIARIES, PARENT COMPANIES, AGENTS, PARTNERS, EMPLOYEES OR LICENSORS ARE OR WILL BE LIABLE TO YOU OR ANY THIRD PARTY IN ANY RESPECT FOR ANY COSTS OR DAMAGES ARISING EITHER DIRECTLY OR INDIRECTLY FROM THE USE OF THE SOFTWARE FOR EMERGENCY CALLS, INCLUDING CALLS TO EMERGENCY SERVICES AND CALLS FOR THE PURPOSE OF OBTAINING ASSISTANCE, HELP OR AID IN THE EVENT OF ANY EMERGENCY.</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>SEVERABILITY:&nbsp; </strong>In the event any provision of this Agreement is found to be invalid, illegal or unenforceable, the validity, legality and enforceability of any of the remaining provisions shall not in any way be affected or impaired and a valid, legal and enforceable provision of similar intent and economic impact shall be substituted therefore.</p>
<p>&nbsp;</p>
<p><strong>ENTIRE AGREEMENT:&nbsp; </strong>This Agreement sets forth the entire understanding and agreement between you and GENBAND, supersedes all prior agreements, whether written or oral, with respect to the Software, and may be amended only in a writing signed by both parties.</p>
<p><strong>GENERAL:</strong>&nbsp; Failure or delay in enforcing any right or provision of this Agreement shall not be deemed a waiver of such right or provision with respect to any subsequent breach.&nbsp; No terms, provisions, or conditions of any Order, acknowledgement, check, or other business form that you may use in connection with the acquisition or licensing of the Product will have any effect on the rights, duties, or obligations of the parties under this Agreement, regardless of any failure of GENBAND to object to such terms, provisions or conditions.&nbsp; Your rights under this Agreement may not be transferred or assigned without the prior express written consent of GENBAND and/or its licensors.&nbsp; If GENBAND and/or its licensors grant permission for an assignment of this Agreement to any third party, such transferee must accept the terms and conditions of this Agreement, and, upon such transfer, your License to the Software will automatically terminate.</p>
<p>YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT AND UNDERSTAND IT AND AGREE TO BE BOUND BY ITS TERMS AND CONDITIONS.</p>
</div>