#popup{
    margin: 10px;
    position: absolute;
}
#fade_cover {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index:1002;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
    background-color: black;
}
#active_call{
    width: 450px;
    text-align: center;
    display: none;
}
#media{
    height: 250px;
    position: relative;
    background: url('../assets/avatar_big.png') no-repeat;
    background-size: 160px 120px;
    background-position: center center;
}
#media #remoteVideo {
    width: 100%;
    height: 100%;
}

#media #localVideo {
    position: absolute;
    width: 25%;
    bottom: 10px;
    right: 10px;
}
#media .localVideoLarge {
    width: 100%;
    bottom: 0;
    right: 0;
    top: 0;
}
.keypad{
    background: url('../assets/dialpad_icon.png') no-repeat;
    background-position: center -68px;
}
.keypad:hover{
    background-position: center 10px;
}
.keypad_active{
    background-position: center -29px;
}

.add_note{
    background: url('../assets/add_note.png') no-repeat;
    background-position: 5px -66px;
}
.add_note:hover{
    background-position: 5px 8px;
}
.add_note_active{
    background-position: 5px -30px;
}


.held_call{
    width: 450px;
    margin: 5px 0;
}
.held_call_text{
    width: 70%;
    font-weight: bold;
    vertical-align: middle;
    padding-left:15px;
}

#audio_tones {
    display: none;
}


#add_contact_dialog{
    display: none;
}
.add_contact_field {
    display: block;
    margin-top: 5px;
}
#add_contact_dialog label{
    display: inline-block;
    width: 100px;
}
.add_contact_input {
    padding: 5px;
    width: 235px;
}
#add_contact_dialog .error{
    display: none;
}
.existed-contact, #add-contact-anyway {
    cursor: pointer;
    text-decoration: underline;
}
.contacts-container {
    margin-top: 3px;
}
#add_contact_select_type {
    border: 1px solid rgb(166,201,226);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 120px;
    height: 28px;
}
#contact-existance {
    display: none;
    text-align: center;
    margin: 7px;
}
#add_note_dialog{
    display: none;
}
#add_note_dialog textarea{
    width: 95%;
    height: 150px;
}

#dial_pad {
    color: #565b61;
    font-family: "Times New Roman", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 80px;
    padding-top: 10px;
    width: 200px;
    height: 160px;
    border-radius: 2%;
    border:black solid 1px;
    background-color: white;
    z-index:1003;
    overflow: auto;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    display: none;
}

#dial_pad #call_display_container {
    position: relative;
    height: 25px;
}

#dial_pad #number_container {
    position: absolute;
    left: 0;
    top: 0;
    background:url(../assets/area.png) no-repeat;
    padding:0px 0px 0px 0px;
    width: 143px;
}

#dial_pad #number_cover {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: none;
    padding:0px 0px 0px 0px;
    width: 143px;
}

#dial_pad #call_display {
    width: 135px;
    height: 24px;
    padding-left: 4px;
    padding-right: 4px;
    border: 0;
    background: none;
}

#dial_pad #erase_container {
    position: absolute;
    top: 0;
    right: 0;
}

#dial_pad #erase {
    width: 24px;
    height: 25px;
    border: 0;
    background: url('../assets/delet_normal.png') no-repeat;
    cursor: pointer;
}

#dial_pad #erase:hover {
    background: url('../assets/delet_hover.png') no-repeat;
}

#dial_pad #erase:active {
    background: url('../assets/delet_pressed.png') no-repeat;
}

#dialpad_buttons {
    width: 179px;
    margin: 0 auto;
}

#dialpad_buttons td {
    width: 55px;
}

#dialpad_buttons .dialpad_btn {
    height: 22px;
    padding-top: 3px;
    background: url('../assets/btn_normal.png') no-repeat;
    cursor: pointer;
}

#dialpad_buttons .dialpad_btn:hover {
    background: url('../assets/btn_hover.png') no-repeat;
}

#dialpad_buttons .dialpad_btn:active {
    background: url('../assets/btn_press.png') no-repeat;
}

#dialpad_buttons span {
    font-size: 7px;
    font-weight: lighter;
    margin-top: -2px;
}

.invisible {
    visibility: hidden;
}

.d_block {
    display: block;
}