#plug-in-container {
    width: 1px;
    height: 1px;
}

#plug-in-container.visible {
    width: 490px;
    height: 401px;
    margin: auto;
}

#buttons {
    width: 400px;
    margin: auto;
    padding-top: 10px;
    display: none;
}

#end_call {
    width:100px;
    right:20px;
    background:#CCCCCC;
    color:#fff;
    font-family: Tahoma, Geneva, sans-serif;
    height:30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #999;
}

#end_call:hover {
    background:#fff;
    color:#CCCCCC;
}

#form_header h1{
    float: left;
}

#genband_logo {
    background-image: url("../assets/logo.png");
    width: 69px;
    height: 70px;
    float: right;
}

#form_content {
    position: absolute;
    margin-top: 75px;
}

form {
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    margin:auto;
    position:relative;
    width:380px;
    height:230px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #CCCCCC;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
    width:375px;
    display:block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    padding: 2px;
}

input.button {
    width:100px;
    position:absolute;
    right:20px;
    bottom:-42px;
    background:#CCCCCC;
    color:#fff;
    font-family: Tahoma, Geneva, sans-serif;
    height:30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1p solid #999;
}

input.button:hover {
    background:#fff;
    color:#CCCCCC;
}

#audio_tones {
    display: none;
}

.error {
    display: none;
    position: absolute;
    bottom: -37px;
    color: #FF9494;
}

#media_plugin_dialog{
    display: none;
    height: 95px;
}

.media_plugin_dialog_message{
    line-height: 17px;
    text-align: center;
    text-align: justify;
}

.ui-dialog[aria-describedby="media_plugin_dialog"] .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none !important;
}

.ui-dialog[aria-describedby="media_plugin_dialog"] .ui-dialog-buttonpane {
    padding: 5px;
    text-align: center !important;
}

.ui-dialog[aria-describedby="media_plugin_dialog"]{
    font-size:16px;
}